---
---

$bg-color: #7fa1d1;
$bg-highlight-color: #d9d8ff;
$bg-dark-color: #4d314b;
$fg-color: #cedfff;
$fg-inverted-color: #bce2ff;
$fg-text-color: #1c2f51;
$highlight-color: #2c1044;

body {
  background: $bg-color;
  width: 944px;
  margin: 0 auto;
}

.header {
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
}

.header-logo {
  background: $bg-highlight-color;
  color: $bg-color;
  padding: 1rem .65rem;
  font: normal 1.8rem/1.8rem 'Gobold Bold', sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  float: left;
}

.header-nav {
  text-align: right;
  height: 100%;
  vertical-align: middle;
  line-height: 55px;
}

.header-nav li {
  display: inline;
}

.hero {
  background: url('https://webdev.acm.jhu.edu/assets/laptop.png') center bottom no-repeat;
  padding-bottom: 190px;
}

.hero-group, .hero-actions {
  display: flex;
  justify-content: center;
}

.hero-headshot {
  border-radius: 100%;
  border: 3px solid $bg-highlight-color;
  margin-right: 1rem;
}

.hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-heading {
  color: $bg-highlight-color;
  font: normal 2rem/3rem 'Gobold Bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.hero-subheading {
  color: $highlight-color;
  font: normal 1.5rem/2rem 'Montserrat', sans-serif;
}

.hero-subheading em {
  color: white;
}

.pipe {
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15rem solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  -webkit-animation:
    2s typing steps(40, end),
    1s blink step-end infinite;
}

@-webkit-keyframes "blink" {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@-webkit-keyframes "typing" {
  from { width: 0 }
  to { width: 100% }
}

.hero-actions {
  margin: 4rem 0;
}

.content {
  background: $fg-color;
  border-top: 3px solid $highlight-color;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, .5);
  padding-bottom: 1rem;
}

.content-header {
  padding: 2rem;
}

.content-heading {
  color: $bg-dark-color;
  font: normal 1.7rem/2rem 'Gobold Thin', sans-serif;
}

.content-subheading {
    color: $bg-color;
    font: normal 1rem/2rem 'Montserrat', sans-serif;
}

.content-body {
  background: $fg-inverted-color;
  border-top: 3px solid $bg-color;
  border-bottom: 3px solid $bg-color;
  padding: 3rem;
  font: normal 1rem/1.7rem 'Montserrat', sans-serif;
  color: $fg-text-color;
}

.content-body a {
    color: darken($bg-color, 13);
    text-decoration: none;
}

.content-body a:visited {
    color: lighten($highlight-color, 15);
}

.content-action {
  text-align: right;
  margin-top: 1rem;
}

.footer {
  color: $highlight-color;
  text-align: center;
  padding: 2rem 0;
  font: normal 0.8rem/1rem 'Montserrat', sans-serif;
}

.pill-btn {
  font-weight: normal;
  font-family: 'Gobold Thin', sans-serif;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 30px;
  text-transform: uppercase;
  margin-right: 0.5rem;
  transition: .15s ease-in-out color,
              .15s ease-in-out background,
              .15s ease-in-out border;
}

.header .pill-btn {
  color: rgba($bg-highlight-color, .8);
  border-color: $bg-highlight-color;
  font-size: .9rem;
  padding: .35rem 1rem;
  letter-spacing: 0.15rem;
}

.header .pill-btn:hover {
  color: $bg-color;
  background: $bg-highlight-color;
}

.hero .pill-btn, .content-action .pill-btn {
  color: rgba($highlight-color, .8);
  border-color: $highlight-color;
}

.hero .pill-btn .fa {
  vertical-align: top;
  line-height: .9rem;
  padding-right: .4rem;
}

.hero .pill-btn:hover,
.content-action .pill-btn:hover {
  color: $bg-color;
  background: $highlight-color;
}

.hero .pill-btn {
  padding: .5rem 1.6rem;
  letter-spacing: .2rem;
}

.content-action .pill-btn {
  padding: .3rem .9rem;
  letter-spacing: 0.15rem;
}
