---
layout: default
---

<div class="hero">
  <div class="hero-group">
    <img src="https://dl.dropboxusercontent.com/s/7g9dvquk0yhpqql/IMG_1110-copy.jpg" alt="elaine!" class="hero-headshot" />
    <div class="hero-text">
      <h1 class="hero-heading">Hi! I'm Elaine!</h1>
      <h2 class="hero-subheading">I enjoy <em>dank memes</em>.</h2>
    </div>
  </div>
  <ul class="hero-actions">
    <li><a href="https://goo.gl/ZY4RAb" class="pill-btn"><i class="fa fa-file"></i>Resume</a></li>
    <li><a href="mailto:ewong28@jhu.edu" class="pill-btn"><i class="fa fa-envelope"></i>Contact</a></li>
  </ul>
</div>

<div class="content">
    {{ content }}
</div>
